.moneycomponent {
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 10px;
    width: 20vw;
}

.moneycounter {
    margin: 0px 0px 5px 10px;
}

.scroungeContainer {
    display: flex;
    flex-direction: row;
    height: 20px;
}

.scrounge {
    text-align: left;
    white-space: nowrap;
    flex-shrink: 0;
}

.addedMoney {
    white-space: nowrap;
    padding: 0;
    margin: 0px 0px 0 5px;
}

.marginBottom {
    margin-bottom: 5px;
  }
  
.marginTop {
    margin-top: 5px;
  }

.flexContainer {
    display: flex;
    align-items: center;
  }


.tableWithLines {
    border-collapse: collapse;
  }
  
.cellWithLines {
    border: 1px solid black;
    padding: 10px;
}

.researchContainer {
    margin: 20px 0px 0px 10px;
}

.noMargin {
    margin: 0;
  }